$baseViolet: #6e3667;
$lightenViolet: #82387b;
$darkenViolet: #673360;
$baseText: #f3f3f3;
$light: #f5f5f5;
$linkVisit: #d3d3d3;
$grey: #535353;
$dark: #1A0315;
$lightDark: #292928;
$lime: #88D317;

$defaultTextSize: 12px;
$tableHeaderTextSize: 10px;
$normalTextSize: 20px;
$headingTextSize: 24px;

@import url('https://fonts.googleapis.com/css?family=Roboto|Dancing+Script');

* {
  font-size: $defaultTextSize;
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: url('/images/elements/ui/background.jpg') no-repeat fixed;
  background-size: cover;
}

nav.navbar {
  background: $baseViolet linear-gradient(to bottom, $baseViolet 0, $lightenViolet 100%);
  border-radius: 0;
  border-color: $darkenViolet;
  padding: 0;
  margin: 0;
  & > .container {
    & > .navbar-header {
      & > .navbar-brand {
        img {
          max-height: 100%;
        }
      }
    }
    & > .navbar-collapse > ul.nav.navbar-nav > li {
      & > a {
        color: $baseText;
        &:hover {
          color: $lime;
        }
      }
      &.language > a > img {
        max-width: 20px;
        max-height: 20px;
        margin: 0 5px;
      }
      &.dropdown.open > a, &.active > a {
        background: transparent;
      }
      ul.dropdown-menu {
        padding: 0;
      }
      .userMenu {
        display: flex;
        padding: 15px;
        background-color: #773770;
        color: #fff;
        min-width: 300px;
        .photo {
          width: 60px;
          display: inline-block;
          height: 100%;
          align-self: center;
        }
        .userInfo {
          display: inline-block;
          padding: 0 10px;
          span.name {
            font-size: 20px;
            display: block;
            font-weight: bold;
          }
          div.actions {
            display: block;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

table {
  thead {
    tr {
      border: none;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .3);
      th {
        text-align: center;
        border: none;
        padding: 0 20px;
        font-size: $tableHeaderTextSize;
        text-shadow: none;
        color: $baseText;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    tr {
      border: none;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .3);
      td {
        border: none;
        padding: 10px;
      }
    }
  }
}

img.avatar {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.section {
  background-color: $light;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  text-align: center;
  .title {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: $headingTextSize;
    color: $grey;
  }
  &.About {
    background-color: $light;
    .promoText {
      font-size: $normalTextSize;
    }
  }
  &.Latest {
    background-color: $lightDark;
    color: $baseText;
    min-height: 1100px;
    .title {
      color: $baseText;
    }
    table.latestWinners {
      thead tr th:nth-child(1), tbody tr td:nth-child(1) {
        width: 30%;
      }
      thead tr th:nth-child(2), tbody tr td:nth-child(2) {
        width: 25%;
      }
      thead tr th:nth-child(3), tbody tr td:nth-child(3) {
        width: 25%;
      }
      thead tr th:nth-child(4), tbody tr td:nth-child(4) {
        width: 20%;
      }
      tbody tr {
        height: 65px;
        td {
          line-height: 65px;
        }
      }
      img.product {
        max-width: 100px;
        max-height: 65px;
        margin: 5px;
      }
    }
  }
  &.Hot {
    padding-bottom: 60px;
    .slick-slide img {
      max-width: 100%;
      max-height: 300px;
      margin: 0 auto;
    }
    .slick-prev:before, .slick-next:before {
      color: $dark;
    }
  }
}

a {
  cursor: pointer;
  color: $light;
  &:active, &:hover, &:visited {
    color: $linkVisit;
    text-decoration: none;
  }
}

footer {
  margin-top: 10px;
  clear: both;
  width: 100%;
  height: 150px;
  background-color: $lightenViolet;
  padding: 20px;
  & > div {
    color: $baseText;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0;
      }
    }
  }
}

.notFound {
  display: flex;
  justify-content: center;
  & > .inner {
    align-self: center;
    text-align: center;
    color: $light;
    .errorCode {
      font-family: 'Dancing Script', cursive;
      font-size: 48px;
    }
    .errorName {
      font-size: 24px;
    }
    .errorDescription {
      &, a {
        font-size: 16px;
      }
      a {
        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

.page-content {
  & > div {
    margin: 10px 0;
    &.container {
      margin: 10px auto;
    }
  }
  &.categories {
    & > div {
      .category {
        user-select: none;
        padding: 15px;
        .inner {
          background-color: $light;
          text-align: center;
          transition-duration: .25s;
          cursor: pointer;
          border: solid 1px #ececec;
          z-index: 888;
          &:hover {
            box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            z-index: 999;
            transform: scale(1.08);
          }
          img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
}

.sidebar {
  background-color: #f5f5f5;
  margin: 10px 0;
  padding: 10px;
}

.productCard {
  text-align: center;
  background-color: $light;
  border: solid 1px #ececec;
  padding: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
  img {
    max-width: 100%;
  }
  .name {
    padding-bottom: 10px;
    border-bottom: solid 1px #dedede;
    font-size: 24px;
    a {
      font-size: 16px;
      color: $dark;
      font-weight: bold;
      &:hover, &:active, &:focus {
        color: $baseViolet;
      }
    }
  }
}

.prices {
  & > div {
    display: block;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: solid 1px #dedede;
    min-height: 50px;
    &:last-child {
      border: none;
    }
    strong {
      font-size: 24px;
    }
    span.price {
      float: left;
      margin: 7px 0;
    }
    span.action {
      float: right;
      margin: 7px 0;
    }
  }
}

.singleProduct {
  .productCard, .sidebar {
    background-color: $light;
    border: solid 1px #ececec;
    padding: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
  }
  .sidebar {
    margin: 0;
    .lotteryPrice {
      height: 80px;
    }
  }
  .timer {
    font-size: 22px;
    font-weight: bold;
  }
  .detailedInfo {
    margin-top: 10px;
  }
  .tab-content {
    background-color: $light;
    border: solid 1px #ececec;
    padding: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
  }
}