$baseViolet: #6e3667;
$lightenViolet: #82387b;
$darkenViolet: #673360;
$baseText: #f3f3f3;
$light: #fcfcfc;
$linkVisit: #d3d3d3;
$grey: #535353;
$dark: #1A0315;
$lightDark: #292928;
$lime: #88D317;

$defaultTextSize: 12px;
$tableHeaderTextSize: 10px;
$normalTextSize: 20px;
$headingTextSize: 24px;

@import url('https://fonts.googleapis.com/css?family=Roboto|Dancing+Script');

* {
  font-size: $defaultTextSize;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

html, body, #root, .App {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -150px;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 150px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: url('/images/elements/ui/background.jpg') no-repeat fixed;
  background-size: cover;
}

nav.navbar {
  background: $baseViolet linear-gradient(to bottom, $baseViolet 0, $lightenViolet 100%);
  border-radius: 0;
  border-color: $darkenViolet;
  padding: 0;
  margin: 0;
  & > .container {
    & > .navbar-header {
      & > .navbar-brand {
        img {
          max-height: 100%;
        }
      }
    }
    & > .navbar-collapse > ul.nav.navbar-nav > li {
      & > a {
        color: $baseText;
        &:hover {
          color: $lime;
        }
      }
      &.language > a > img {
        max-width: 20px;
        max-height: 20px;
        margin: 0 5px;
      }
      &.dropdown.open > a, &.active > a {
        background: transparent;
      }
      ul.dropdown-menu {
        padding: 0;
      }
      .userMenu {
        display: flex;
        padding: 15px;
        background-color: #773770;
        color: #fff;
        min-width: 300px;
        .photo {
          width: 60px;
          display: inline-block;
          height: 100%;
          align-self: center;
        }
        .userInfo {
          display: inline-block;
          padding: 0 10px;
          span.name {
            font-size: 20px;
            display: block;
            font-weight: bold;
          }
          div.actions {
            display: block;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

table {
  thead {
    tr {
      border: none;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .3);
      th {
        text-align: center;
        border: none;
        padding: 0 20px;
        font-size: $tableHeaderTextSize;
        text-shadow: none;
        color: $baseText;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    tr {
      border: none;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .3);
      td {
        border: none;
        padding: 10px;
      }
    }
  }
}

img.avatar {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.section {
  background-color: $light;
  margin: 0 auto !important;
  padding: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  text-align: center;
  .title {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: $headingTextSize;
    color: $grey;
  }
  &.About {
    background-color: $light;
    .promoText {
      font-size: $normalTextSize;
    }
  }
  &.Latest {
    background-color: $lightDark;
    color: $baseText;
    min-height: 1100px;
    .title {
      color: $baseText;
    }
    table.latestWinners {
      thead tr th:nth-child(1), tbody tr td:nth-child(1) {
        width: 30%;
      }
      thead tr th:nth-child(2), tbody tr td:nth-child(2) {
        width: 25%;
      }
      thead tr th:nth-child(3), tbody tr td:nth-child(3) {
        width: 25%;
      }
      thead tr th:nth-child(4), tbody tr td:nth-child(4) {
        width: 20%;
      }
      tbody tr {
        height: 65px;
        td {
          line-height: 65px;
        }
      }
      img.product {
        max-width: 100px;
        max-height: 65px;
        margin: 5px;
      }
    }
  }
  &.Hot {
    padding-bottom: 60px;
    .slick-slide img {
      max-width: 100%;
      max-height: 300px;
      margin: 0 auto;
    }
    .slick-prev:before, .slick-next:before {
      color: $dark;
    }
  }
}

a {
  cursor: pointer;
  color: $light;
  &:active, &:hover, &:visited {
    color: $linkVisit;
    text-decoration: none;
  }
}

footer {
  margin-top: 10px;
  clear: both;
  width: 100%;
  height: 150px;
  background-color: $lightenViolet;
  padding: 20px;
  & > div {
    color: $baseText;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0;
      }
    }
  }
}

.notFound {
  display: flex;
  justify-content: center;
  & > .inner {
    align-self: center;
    text-align: center;
    color: $light;
    .errorCode {
      font-family: 'Dancing Script', cursive;
      font-size: 48px;
    }
    .errorName {
      font-size: 24px;
    }
    .errorDescription {
      &, a {
        font-size: 16px;
      }
      a {
        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

.page-content {
  & > div {
    margin: 10px 0;
    &.container {
      margin: 10px auto;
    }
  }
  &.categories {
    & > div {
      .category {
        user-select: none;
        padding: 15px;
        .inner {
          background-color: $light;
          text-align: center;
          transition-duration: .25s;
          cursor: pointer;
          border: solid 1px #ececec;
          z-index: 888;
          &:hover {
            box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            z-index: 999;
            transform: scale(1.08);
          }
          img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
}

.sidebar {
  background-color: #f5f5f5;
  margin: 10px 0;
  padding: 10px;
}

.productCard {
  text-align: center;
  background-color: $light;
  border: solid 1px #ececec;
  padding: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
  img {
    max-width: 100%;
  }
  .name {
    padding-bottom: 10px;
    border-bottom: solid 1px #dedede;
    font-size: 24px;
    a {
      font-size: 16px;
      color: $dark;
      font-weight: bold;
      &:hover, &:active, &:focus {
        color: $baseViolet;
      }
    }
  }
}

.prices {
  & > div {
    display: block;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: solid 1px #dedede;
    min-height: 50px;
    &:last-child {
      border: none;
    }
    strong {
      font-size: 24px;
    }
    span.price {
      float: left;
      margin: 7px 0;
    }
    span.action {
      float: right;
      margin: 7px 0;
    }
  }
}

.singleProduct {
  .productCard, .sidebar {
    background-color: $light;
    border: solid 1px #ececec;
    padding: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
  }
  .sidebar {
    margin: 0;
    .lotteryPrice {
      height: 80px;
    }
  }
  .timer {
    font-size: 22px;
    font-weight: bold;
  }
  .detailedInfo {
    margin-top: 10px;
  }
  .tab-content {
    background-color: $light;
    border: solid 1px #ececec;
    padding: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
  }
}

.authentication {
  background-color: $light;
  border: solid 1px #ececec;
  padding: 6.5rem 10rem;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, .15);
  border-radius: 3px;

  span {
    a {
      color: $baseViolet;
    }
  }

  h3 {
    text-align: center;
  }
  button {
    box-shadow: none;
    width: 100%;
  }
}

/** INPUT STYLES **/

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

/* Hoshi */
.input--hoshi {
  overflow: hidden;
}

.input__field--hoshi {
  margin-top: 1em;
  padding: 0.85em 0.15em;
  width: 100%;
  height: 50px;
  background: transparent;
  color: #595F6E;
}

.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
}

.input__label-content--hoshi {
  position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
  border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-2::after {
  border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
  border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

.profile {
  /* USER PROFILE PAGE */
  .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.hovercard {
      position: relative;
      padding-top: 0;
      overflow: hidden;
      text-align: center;
      background-color: #fff;
      background-color: rgba(255, 255, 255, 1);
      .card-background {
        height: 130px;
        img {
          -webkit-filter: blur(25px);
          -moz-filter: blur(25px);
          -o-filter: blur(25px);
          -ms-filter: blur(25px);
          filter: blur(25px);
          margin-left: -100px;
          margin-top: -200px;
          min-width: 130%;
        }
      }
      .useravatar {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        img {
          width: 100px;
          height: 100px;
          max-width: 100px;
          max-height: 100px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 5px solid rgba(255, 255, 255, 0.5);
        }
      }
      .card-info {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
        .card-title {
          padding: 0 5px;
          font-size: 20px;
          line-height: 1;
          color: #262626;
          background-color: rgba(255, 255, 255, 0.1);
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
      }
      .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
      }
    }
  }
  .btn-pref .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none !important;
    &.btn-primary {
      background: $baseViolet linear-gradient(to bottom, $baseViolet 0, $darkenViolet 100%);
    }
  }
  .well {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

/** TIMELINE **/
@font-face {
  font-family: 'ecoico';
  src:url('../fonts/timelineicons/ecoico.eot');
  src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
  url('../fonts/timelineicons/ecoico.woff') format('woff'),
  url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
  url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
  font-weight: normal;
  font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: $lightenViolet;
  left: 20%;
  margin-left: -10px;
}

.cbp_tmtimeline > li {
  position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: $dark;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: $dark;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: $dark;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: $lime;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.cbp_tmtimeline > li.lost .cbp_tmlabel {
  background: $lightenViolet;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: $lime;
  border-width: 10px;
  top: 10px;
}

.cbp_tmtimeline > li.lost .cbp_tmlabel:after {
  border-right-color: $lightenViolet;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #71cb45;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #87db79;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}

.cbp_tmtimeline > li.lost .cbp_tmicon {
  background: $baseViolet;
  box-shadow: 0 0 0 8px $lightenViolet;
}


.cbp_tmicon-phone:before {
  content: "\e000";
}

.cbp_tmicon-screen:before {
  content: "\e001";
}

.cbp_tmicon-mail:before {
  content: "\e002";
}

.cbp_tmicon-earth:before {
  content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }

  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #71cb45;
    top: -20px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #87db79;
  }

  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}
